{# Use this template to build out your 404 error pages. Like page templates, it
inherits a global layout. #} {% extends "layout.html" %} {% block title %}404 -
Page not found{% endblock %} {% block main %}
<div class="not-found-container">
  <div class="not-found-content">
    <img src="/images/404.svg" alt="404" />
    <h1>Ooops, the page you’re looking for isn’t here.</h1>
    <div class="sf-buttons-group two-buttons">
      <a href="/cases" class="sf-button btn-dark">Explore our work</a>
      <a href="/let-s-talk" class="sf-button btn-dark">Let's talk</a>
    </div>
  </div>
</div>
{% endblock %}
