<section class="sf-section" data-leadership-team-widget>
  {% area data.widget, 'intro' %}

  <div class="leadership-list">
    {% for leader in data.widget._teamLeaders %} {% if loop.index0 % 3 == 0 and
    loop.index0 > 0 %}
  </div>
  <div class="leadership-list">
    {% endif %}

    <article class="leader-card">
      {% if leader.headshot %}
      <div class="leader-photo">
        {% set attachment = apos.image.first(leader.headshot) %} {% if
        attachment %}
        <img
          srcset="{{ apos.image.srcset(attachment) }}"
          src="{{ apos.attachment.url(attachment, { size: data.options.size or 'full' }) }}"
          alt="{{ attachment._alt or leader.title }}"
        />
        {% endif %}
      </div>
      {% endif %}
      <div class="leader-info">
        <h3 class="leader-title">{{ leader.title }}</h3>
        <p class="leader-position">{{ leader.position }}</p>

        <span class="leader-experience">{{ leader.experience }} yrs</span>
        <a class="leader-link" href="{{ leader.linkedin }}" target="_blank"
          >LinkedIn</a
        >

        <div class="leader-bio">{{ leader.bio }}</div>
      </div>
    </article>

    {% endfor %}
  </div>
</section>
