<section class="sf-section" data-leadership-team-widget>
  {% area data.widget, 'intro' %}

  <div class="leadership-list">
    {% for leader in data.widget._teamLeaders %} {% if loop.index0 % 3 == 0 and
    loop.index0 > 0 %}
  </div>
  <div class="leadership-list">
    {% endif %}

    <article class="leader-card">
      <div class="leader-info">
        <div class="leader-header">
          {% if leader.headshot %} {% set attachment =
          apos.image.first(leader.headshot) %} {% if attachment %}
          <img
            srcset="{{ apos.image.srcset(attachment) }}"
            src="{{ apos.attachment.url(attachment, { size: data.options.size or 'full' }) }}"
            alt="{{ attachment._alt or leader.title }}"
            class="leader-photo"
          />
          {% endif %} {% endif %}

          <div class="leader-title-block">
            <h3 class="leader-title">{{ leader.title }}</h3>
            <p class="leader-position">{{ leader.position }}</p>
          </div>
        </div>

        <div class="leader-footer">
          <div class="leader-bio">{{ leader.bio }}</div>

          <div class="leader-meta">
            <span class="leader-experience">{{ leader.experience }} yrs</span>
            <a class="leader-link" href="{{ leader.linkedin }}" target="_blank"
              >LinkedIn</a
            >
          </div>
        </div>
      </div>
    </article>

    {% endfor %}
  </div>
</section>
