[submodule ".cursor/rules/common"]
	path = .cursor/rules/common
	url = git@github.com:speedandfunction/cursor-ai.git
[submodule "website-pages"]
	path = website-pages
	url = https://github.com/speedandfunction/website-pages
