<section class="sf-section" data-leadership-widget>
  {% area data.widget, 'intro' %}
  <div class="sf-person-swiper sf-leadership swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sf-person">
          <div class="sf-leadership-header">
            <div class="sf-person__photo">
              <img src="/images/nick.jpg" alt="Nick">
            </div>
            <div class="sf-leadership-header__bio">
              <h4 class="sf-person__title">Nick Gluzdov</h4>
              <h5 class="sf-person__position">Co-founder and co-CEO</h5>              
            </div>
          </div>
          <div class="sf-person-wrapper">
            <div class="sf-person__vita">
              <p>As well as being Speed & Function’s CEO and a seasoned software engineer, Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. As well as being Speed & Function’s CEO and a seasoned software engineer, <br>Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. </p>
            </div>
            <div class="sf-person__footer">
              <span>18 yrs</span>
              <a class="sf-button-in" href="#">in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sf-person">
          <div class="sf-leadership-header">
            <div class="sf-person__photo">
              <img src="/images/irina.jpg" alt="Irina">
            </div>
            <div class="sf-leadership-header__bio">
              <h4 class="sf-person__title">Irina Abramson</h4>
              <h5 class="sf-person__position">Co-founder and CFO</h5>              
            </div>
          </div>
          <div class="sf-person-wrapper">
            <div class="sf-person__vita">
              <p>As well as being Speed & Function’s CEO and a seasoned software engineer, Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. As well as being Speed & Function’s CEO and a seasoned software engineer, <br>Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. </p>
            </div>
            <div class="sf-person__footer">
              <span>18 yrs</span>
              <a class="sf-button-in" href="#">in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sf-person">
          <div class="sf-leadership-header">
            <div class="sf-person__photo">
              <img src="/images/anna.jpg" alt="Anna">
            </div>
            <div class="sf-leadership-header__bio">
              <h4 class="sf-person__title">Anna Miklasch</h4>
              <h5 class="sf-person__position">Head of Enterprise Department</h5>              
            </div>
          </div>
          <div class="sf-person-wrapper">
            <div class="sf-person__vita">
              <p>As well as being Speed & Function’s CEO and a seasoned software engineer, Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. As well as being Speed & Function’s CEO and a seasoned software engineer, <br>Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. </p>
            </div>
            <div class="sf-person__footer">
              <span>4 yrs</span>
              <a class="sf-button-in" href="#">in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sf-person">
          <div class="sf-leadership-header">
            <div class="sf-person__photo">
              <img src="/images/irina.jpg" alt="Irina">
            </div>
            <div class="sf-leadership-header__bio">
              <h4 class="sf-person__title">Irina Abramson</h4>
              <h5 class="sf-person__position">Co-founder</h5>              
            </div>
          </div>
          <div class="sf-person-wrapper">
            <div class="sf-person__vita">
              <p>As well as being Speed & Function’s CEO and a seasoned software engineer, Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. As well as being Speed & Function’s CEO and a seasoned software engineer, <br>Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. </p>
            </div>
            <div class="sf-person__footer">
              <span>8 yrs</span>
              <a class="sf-button-in" href="#">in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sf-person">
          <div class="sf-leadership-header">
            <div class="sf-person__photo">
              <img src="/images/irina.jpg" alt="Irina">
            </div>
            <div class="sf-leadership-header__bio">
              <h4 class="sf-person__title">Irina Abramson</h4>
              <h5 class="sf-person__position">CFO</h5>              
            </div>
          </div>
          <div class="sf-person-wrapper">
            <div class="sf-person__vita">
              <p>As well as being Speed & Function’s CEO and a seasoned software engineer, Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. As well as being Speed & Function’s CEO and a seasoned software engineer, <br>Nick is a partner and father of 3 with a passion for personal and professional development, and pours many hours into developing himself as a leader. Nick grew up in a family of professional artists in the city of Kiev, which at the time was part of the Communist USSR. </p>
            </div>
            <div class="sf-person__footer">
              <span>12 yrs</span>
              <a class="sf-button-in" href="#">in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-controls">
      <div class="swiper-nav">
        <div class="swiper-button-prev">previous</div>
        <div class="swiper-button-next">next</div>      
      </div>
      <a href="#meetall" class="sf-button sf-button_underline"><span>meet all</span></a>
    </div>
  </div>
</section>