<section class="sf-section" data-insights-carousel-widget>
  {% area data.widget, 'intro' %}
  <div class="sf-person-swiper sf-insights swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sf-person">
          <a href="#" class="sf-insights__photo">
            <img src="/images/insights1.jpg" alt="insights">
          </a>
          <div class="sf-person-wrapper">
            <div class="sf-insights__content">
              <a href="#" class="sf-person__title">We put people first. What does it actually mean?</a>
              <h5 class="sf-person__subtitle">leadership</h5>              
            </div>
            <a href="#link" class="sf-button sf-button_underline"><span>Read Peter's Story</span></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sf-person">
          <a href="#" class="sf-insights__photo">
            <img src="/images/insights2.jpg" alt="insights">
          </a>
          <div class="sf-person-wrapper">
            <div class="sf-insights__content">
              <a href="#" class="sf-person__title">From Zero to One: Speed & Function’s growth story.</a>
              <h5 class="sf-person__subtitle">change</h5>              
            </div>
            <a href="#link" class="sf-button sf-button_underline"><span>Read Co-Founder's Story</span></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sf-person">
          <a href="#" class="sf-insights__photo">
            <img src="/images/insights3.jpg" alt="insights">
          </a>
          <div class="sf-person-wrapper">
            <div class="sf-insights__content">
              <a href="#" class="sf-person__title">Observe what the majority does and do the opposite.</a>
              <h5 class="sf-person__subtitle">innovation</h5>              
            </div>
            <a href="#link" class="sf-button sf-button_underline"><span>Read Anna's Story</span></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sf-person">
          <a href="#" class="sf-insights__photo">
            <img src="/images/insights2.jpg" alt="insights">
          </a>
          <div class="sf-person-wrapper">
            <div class="sf-insights__content">
              <a href="#" class="sf-person__title">Test text</a>
              <h5 class="sf-person__subtitle">innovation</h5>              
            </div>
            <a href="#link" class="sf-button sf-button_underline"><span>Read Story</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-controls">
      <div class="swiper-nav">
        <div class="swiper-button-prev">previous</div>
        <div class="swiper-button-next">next</div>      
      </div>
      <a href="#viewall" class="sf-button sf-button_underline"><span>view all</span></a>
    </div>
  </div>
</section>