<section class="sf-section" data-project-carousel-widget>
  {% area data.widget, 'intro' %}
  <div class="sf-projects-swiper swiper">
    <div class="swiper-wrapper">
      {% for project in data.widget._selectedProjects %}
        <div class="swiper-slide">
          <div class="sf-projects-swiper__src">
            {% if project.mediaType == 'video' %}
            <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline preload="auto">
              <source src="{{ project._file[0]._url }}" type="video/mp4" />
            </video>
              {% else %}
                {% area project, 'picture' %}
            {% endif %}
          </div>
          <div class="sf-projects-info">
            <h4 class="sf-projects-info__title">{{ project.title }}</h4>
            <span class="sf-projects-info__stack">{{ project.stack }}</span>
            <div class="sf-projects-info-limit">
              <h4 class="sf-projects-info__subtitle">{{ project.subtitle }}</h4>
              <div class="sf-projects-info__content">{% area project, 'content' %}</div>
              <a href="#" class="sf-button sf-button_underline"><span>view more</span></a>              
            </div>
            <span class="sf-projects-info__stack">Manufacturing</span>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-controls">
      <div class="swiper-nav">
        <div class="swiper-button-prev">previous</div>
        <div class="swiper-button-next">next</div>      
      </div>
      <a href="#viewall" class="sf-button sf-button_underline"><span>view all</span></a>
    </div>
  </div>
</section>