* {
  box-sizing: border-box;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sf-container {
  position: relative;
  width: 100%;
  max-width: $breakpoint-extra-extra-large;
  padding: 0 40px;
  padding-top: $sf-container-padding-top;
  margin: 0 auto;

  @include breakpoint-extra-extra-large {
    padding: 0 120px;
  }
}
.sf-wrapper {
  position: relative;
}
.sf-section {
  margin-bottom: 80px;
  @include breakpoint-medium {
    margin-bottom: 120px;
  }
}

.sf-h1 {
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-h1-mobile;
  line-height: 110%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-h1;
  }
}

.sf-h2 {
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-h2-mobile;
  line-height: 110%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-h2;
    line-height: 140%;
  }
}

.sf-title {
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-h3-mobile;
  line-height: 140%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-h3;
    line-height: 170%;
  }
}

.sf-subscribe__title {
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-h4-mobile;
  line-height: 140%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-h4;
    line-height: 140%;
  }
}

.sf-h5 {
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-h5-mobile;
  line-height: 140%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-h5;
    line-height: 140%;
  }
}

.sf-h6 {
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-h6-mobile;
  line-height: 110%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-h6;
    line-height: 110%;
  }
}

.sf-rich-large {
  font-weight: $font-weight-medium;
  font-size: $font-size-body-small;
  line-height: 140%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-h4-mobile;
    line-height: 150%;
  }
}

.sf-rich-small {
  font-weight: $font-weight-medium;
  font-size: $font-size-body-small-mobile;
  line-height: 140%;
  margin: 0;

  @include breakpoint-medium {
    font-size: $font-size-body-small;
    line-height: 150%;
  }
}

.breadcrumb {
  font-weight: $font-weight-medium;
  font-size: $font-size-body-small-mobile;
  line-height: 150%;
  line-height: $breadcrumbs-line-height;
  width: min(1280px, 100%);
  margin: 0 auto 52px;
  padding: 0 40px;
  height: 100%;
  color: $black;
  @include breakpoint-medium {
    margin-bottom: 80px;
  }
}

.breadcrumb-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.breadcrumb-item::after {
  content: '/';
  margin-left: 6px;
  color: $gray-300;
}

.breadcrumb-item:last-child::after {
  content: '';
}

.breadcrumb-link {
  color: $gray-300;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}
