.sf-button {
  position: relative;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
  appearance: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
  background-color: $gray-500;
  padding: 12px;
  font-style: $font-style-normal;
  font-weight: $font-weight-extra-bold;
  line-height: 0.8;
  height: auto;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: var(--widget-text-spacing, 4px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 270px;
  text-align: center;
  @include responsive-font(14px, 20px);

  @include breakpoint-medium {
    padding: 24px 92px;
    height: 64px;
    max-width: initial;
  }

  &_underline {
    color: $gray-500;
    background-color: transparent;
    padding: 10px 0;
    @include button-underline;
  }
}

.sf-buttons-group {
  &.two-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    @include breakpoint-medium {
      margin: 0;
      flex-direction: row;
    }

    .sf-button {
      justify-content: center;
      align-items: center;
      padding: 12px;
      margin: 0 auto 10px;
      width: fit-content;

      &.sf-button_underline {
        background-color: $gray-500;
        color: $white;
        padding: 12px;

        span {
          &::before,
          &::after {
            content: none;
          }
        }
      }

      &:last-child {
        @include button-underline;
        background: none;
        color: $gray-500;

        @include breakpoint-medium {
          border: 1px solid $gray-500;
          width: 100%;

          span {
            &::before,
            &::after {
              content: none;
            }
          }
        }
      }

      @include breakpoint-medium {
        margin: 0;
        padding: 24px 12px;
        width: 100%;
      }
    }
  }

  &.single-button {
    display: flex;
    justify-content: center;

    .sf-button {
      margin: 0;

      &.btn-dark {
        background-color: $gray-500;
        color: $white;
      }

      &.sf-button_underline {
        background: none;
        color: $gray-500;
      }
    }

    &[data-alignment='left'] {
      justify-content: flex-start;
    }
    &[data-alignment='center'] {
      justify-content: center;
    }
    &[data-alignment='right'] {
      justify-content: flex-end;
    }
  }

  .sf-button--empty {
    background: $gray-300;
    border: none;
    opacity: 0.5;
    overflow: initial;
    cursor: not-allowed;

    &:hover {
      &::after {
        content: 'Link file/page to this element';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        background: $red;
        color: $gray-500;
        padding: 4px 8px;
        font-size: 12px;
        margin-top: 4px;
        z-index: 10;
      }
    }
  }
}
// Carousel controls
.swiper-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  @include breakpoint-medium {
    margin-top: 40px;
  }
}

.swiper-nav {
  position: relative;
  display: flex;
  gap: 20px;
  .swiper-button-prev,
  .swiper-button-next {
    left: inherit;
    right: inherit;
    position: relative;
    width: auto;
    height: auto;
    margin-top: 0;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    color: $gray-300;
    text-transform: uppercase;
    user-select: none;
    &:hover,
    &:focus {
      color: $gray-500;
    }
  }
  .swiper-button-next {
    &::after {
      content: '';
      font-size: 0;
      @include arrow-button($gray-300);
      margin-left: 10px;
    }
    &:hover,
    &:focus {
      &::after {
        @include arrow-button($gray-500);
      }
    }
  }
  .swiper-button-prev {
    &::after {
      content: '';
      font-size: 0;
    }
    &::before {
      position: relative;
      content: '';
      @include arrow-button($gray-300);
      transform: rotate(180deg);
      margin-right: 10px;
    }
    &:hover,
    &:focus {
      &::before {
        @include arrow-button($gray-500);
      }
    }
  }
}

.sf-button-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $gray-100;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-300;
  text-decoration: none;
  margin: 0;
  @include transition(background-color);
  &:hover,
  &:focus {
    background-color: $gray-200;
    color: $gray-500;
  }
}
