.sf-footer {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	@include border(border);
	@include breakpoint-medium {
		flex-direction: row;
		margin-bottom: 40px;
	}
}
.sf-contact {
	padding: 20px 20px 0 20px;
	@include breakpoint-medium {
		padding: 40px;
		width: 30%;
		@include border(border-right);
	}
	@include breakpoint-extra-large {
		width: 21%;
	}
	&__content {
		p {
			margin: 0;
		}
		a {
			font-size: 10px;
			font-weight: 500;
			line-height: 20px;
			color: $gray-500;
			text-decoration: none;
			margin: 0;
			&:hover, &:focus {
				text-decoration: underline;
			}
			@include breakpoint-medium {
				font-size: 14px;
			}
		}
	}
	&__head {
		font-size: 10px;
		font-weight: 700;
		line-height: 14px;
		color: $gray-500;
		margin: 0 0 40px;
		@include breakpoint-medium {
			font-size: 14px;
			line-height: 20px;
			min-height: 155px;
			margin: 0;
		}
	}
}
.sf-navigation {
	padding: 40px 20px;
	@include breakpoint-medium {
		width: 30%;
		padding: 40px;
	}
	@include breakpoint-extra-large {
		width: auto;
		padding: 40px 12%;
	}
	&__list {
		margin: 0 0 40px 0;
		list-style: none;
		padding: 0;
		@include breakpoint-medium {
			min-height: 155px;
			margin: 0;
		}
		li {
			margin-bottom: 2px;
		}
		a {
			font-size: 10px;
			line-height: 11px;
			font-weight: 500;
			color: $gray-300;
			text-decoration: none;
			text-transform: uppercase;
			&.active, &:hover, &:focus {
				color: $gray-500;
			}
		}
	}
	&__social {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 10px;
		a {
			font-weight: 500;
			font-size: 10px;
			line-height: 11px;
			color: $gray-500;
			text-transform: uppercase;
			text-decoration: none;
			&:hover, &:focus {
				color: $black;
			}
		}
	}
}
.sf-subscribe {
	padding: 0 20px 20px 20px;
	@include breakpoint-medium {
		width: 40%;
		padding: 40px;
		margin-left: auto;
	}
	@include breakpoint-extra-large {
		width: auto;
	}
	@include breakpoint-extra-large {
		min-width: 37%;
	}
	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		margin: 0 0 8px;
	}
	.apos-form-submission-thank-you {
		h3 {
			font-weight: 700;
			font-size: 14px;
			color: $gray-500;
		}
	}
}
.sf-copy {
	text-align: center;
	font-size: 10px;
	line-height: 14px;
	margin-top: 0;
	margin-bottom: 20px;
	color: $gray-300;
	@include breakpoint-medium {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 40px;
	}
}