.sf-copy {
  text-align: center;
  font-weight: $font-weight-medium;
  font-size: $font-size-body-small;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 68px;
  color: $gray-300;
  @include breakpoint-medium {
    margin-bottom: 90px;
  }
}
