.sf-header {
  background-color: $white;
  position: sticky;
  top: 0;
  height: $mobile-header-height;
  z-index: 11;

  @include breakpoint-medium {
    height: $desktop-header-height;
  }

  &__content {
    width: min(1280px, 100%);
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray-500;
  }

  .sf-logo {
    z-index: 11;
    text-transform: uppercase;
    color: $gray-500;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $gray-300;
    }
    @include font-settings(16px, 110%, 700);
    @include breakpoint-medium {
      @include font-settings(14px, 110%, 800);
    }
  }
}

.sf-menu {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  &:hover,
  &:focus {
    span {
      background: $gray-300;
    }
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 22px;
    background-color: $gray-500;
    border-radius: 1px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s ease;

    &:nth-child(1) {
      top: 6px;
    }

    &:nth-child(2) {
      top: 14px;
    }

    &:nth-child(3) {
      top: 22px;
    }
  }

  &.open {
    span:nth-child(1) {
      top: 14px;
      transform: translateX(-50%) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      top: 14px;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.sf-nav {
  position: absolute;
  background-color: $white;
  z-index: 10;
  transform: translateY(-200%);
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  overflow: hidden;
  overflow-y: auto;
  width: 100%;

  @include breakpoint-medium {
    top: 40px;
    right: 30px;
    width: 230px;
    padding-right: 10px;
  }

  @include breakpoint-extra-extra-large {
    right: 120px;
  }

  &.open {
    transform: translateY(0);
    @include breakpoint-medium {
      transform: translateY(40px);
    }
  }

  &__list {
    text-align: center;
    list-style-type: none;
    padding-right: 30px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 50px;

    @include breakpoint-medium {
      text-align: right;
      padding-right: 10px;
      @include border(border-right);
      margin-bottom: 20px;
    }
  }

  li {
    position: relative;
    margin-bottom: 20px;
    display: block;

    a {
      position: relative;
      font-size: 10px;
      color: $gray-300;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      @include transition(all);
      @include truncate-lines(1);

      &.active {
        font-weight: 700;
        color: $gray-500;
      }

      &:hover,
      &:focus {
        font-weight: 700;
        color: $gray-500;
      }

      @include breakpoint-medium {
        font-size: 14px;

        &:hover,
        &:focus {
          padding-right: 10px;
        }
      }
    }
  }
}
