.leadership-list {
  display: flex;
  background: lightgreen;
  flex-direction: column;

  @include breakpoint-medium {
    flex-direction: row;
  }
}

.leader-card {
  border: 1px solid red;
  max-width: 400px;
  max-height: 383px;
  font-style: $font-style-normal;

  .leader-photo {
    height: 102px;
    width: 102px;

    img {
      max-width: 100%;
    }

    @include breakpoint-medium {
      height: 225px;
      width: 225px;
    }
  }

  .leader-info {
    .leader-title {
      @include responsive-font(16px, 22px);
      @include responsive-line-height(140%, 110%);
      font-weight: $font-weight-extra-bold;
      color: $gray-500;
      margin: 0;
    }

    .leader-position {
      @include font-settings(10px, 140%, $font-weight-medium);
      font-weight: $font-weight-medium;
      text-transform: capitalize;
      color: $gray-300;
      margin-top: 4px;
    }

    .leader-experience {
      @include font-settings(11px, 120%, $font-weight-300);
      color: $gray-300;
      text-transform: lowercase;
    }

    .leader-link {
      @include font-settings(11px, 120%, $font-weight-300);
      color: $gray-300;
      text-decoration: underline;
      text-transform: lowercase;
    }

    .leader-bio {
      @include font-settings(14px, 150%, $font-weight-medium);
      color: $gray-300;

      @include breakpoint-medium {
        color: $gray-500;
      }
    }
  }
}
