.leadership-section {
  margin-top: 32px;

  @include breakpoint-large {
    margin-top: 52px;
  }
}

.leadership-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-large {
    flex-direction: row;
  }

  // prevent extra top border when leader-card is hovered in second row
  & + .leadership-list {
    .leader-card {
      @include breakpoint-large {
        border-top: none;

        .leader-header {
          margin-bottom: 1px;
        }
      }

      &:hover {
        @include breakpoint-large {
          border-top: none;

          .leader-header {
            margin-bottom: 1px;
          }
        }
      }
    }
  }
}

.leader-card {
  flex: 1 1 33%;
  min-width: 300px;
  box-sizing: border-box;
  font-style: $font-style-normal;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  position: relative;
  border-top: 1px solid transparent;
  border-left: 1px solid $whisper;
  border-bottom: 1px solid $whisper;

  @include breakpoint-large {
    max-width: 400px;
    margin-bottom: 0;
  }

  .leader-header {
    display: flex;
    max-width: calc(100% - 102px);

    @include breakpoint-large {
      flex-direction: column;
      max-width: none;
    }

    .leader-title-block {
      padding: 27px 24px;
      width: 100%;
      box-sizing: border-box;

      @include breakpoint-large {
        padding: 40px 40px 0;
        border: none;
        border-top: 1px solid $whisper;
        width: auto;
      }
    }
  }

  .leader-footer {
    padding: 24px;
    border-top: 1px solid $whisper;
    border-right: 1px solid $whisper;

    @include breakpoint-large {
      border-top: none;
      border-right: none;
      padding: 0 40px 40px;
    }
  }

  &:last-child {
    @include breakpoint-large {
      .leader-header {
        .leader-title-block {
          border-right: 1px solid $whisper;
        }
      }
      .leader-footer {
        border-right: 1px solid $whisper;
      }

      &:hover {
        border-right: 1px solid $whisper;
      }
    }
  }

  .leader-photo {
    height: 102px;
    width: 102px;

    @include breakpoint-large {
      height: 225px;
      width: 225px;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .leader-title {
    @include responsive-font(16px, 22px);
    @include responsive-line-height(140%, 110%);
    @include truncate-lines(1);
    font-weight: $font-weight-extra-bold;
    color: $gray-500;
    margin: 0;
  }

  .leader-position {
    @include font-settings(10px, 140%, $font-weight-medium);
    @include truncate-lines(1);
    font-weight: $font-weight-medium;
    text-transform: capitalize;
    color: $gray-300;
    margin: 8px 0 0;

    @include breakpoint-large {
      margin: 4px 0 16px;
    }
  }

  .leader-bio {
    @include font-settings(14px, 150%, $font-weight-medium);
    color: $gray-300;
    margin-bottom: 16px;

    @include breakpoint-large {
      color: $gray-500;
      transform: translateY(100%);
      transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
      display: none;

      .bio-inner {
        opacity: 0;
      }
    }
  }

  .leader-meta {
    display: flex;
    justify-content: space-between;

    .leader-experience {
      @include font-settings(11px, 120%, $font-weight-300);
      color: $gray-300;
      text-transform: lowercase;
    }

    .leader-link {
      @include font-settings(11px, 120%, $font-weight-300);
      color: $gray-300;
      text-decoration: underline;
      text-transform: lowercase;
    }
  }

  &:hover {
    border-top: 1px solid transparent;

    @include breakpoint-large {
      border-top: 1px solid $whisper;
    }

    .leader-photo {
      @include breakpoint-large {
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(0) scale(1);
        position: absolute;
      }
    }

    .leader-title-block {
      @include breakpoint-large {
        animation: fadeSlideIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
    }

    .leader-bio {
      @include breakpoint-large {
        display: block;
        overflow-y: auto;
        max-height: 209px;
        height: 100%;
        min-height: 209px;
        transform: translateY(0);

        .bio-inner {
          animation: fadeSlideIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        }
      }

      @include breakpoint-extra-large {
        overflow-y: hidden;
      }
    }

    .leader-header {
      .leader-title-block {
        @include breakpoint-large {
          border: none;
          margin-bottom: 1px;
        }
      }
    }

    .leader-footer {
      @include breakpoint-large {
        border: none;
      }
    }
  }
}
