.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  min-height: $mobile-not-found-height;
  margin: 0 auto;
  padding-bottom: 270px;
  background: $white;

  @include breakpoint-medium {
    min-height: $desktop-not-found-height;
    padding-bottom: 156px;
  }

  .not-found-content {
    width: 100%;
    max-width: 322px;
    text-align: center;
    margin: 0 auto;

    @include breakpoint-medium {
      max-width: 905px;
    }

    img {
      width: 50%;
      min-width: 237px;
      margin-bottom: 33px;

      @include breakpoint-medium {
        margin-bottom: 7px;
        width: 450px;
        min-width: unset;
      }
    }

    h1 {
      color: $gray-300;
      text-align: center;
      @include font-settings(24px, 110%, 700);
      margin-bottom: 44px;

      @include breakpoint-medium {
        font-size: 36px;
        margin-bottom: 72px;
      }
    }

    .two-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 146px;
      gap: 24px;
      margin: 0 auto;

      @include breakpoint-medium {
        width: 100%;
        gap: 0;
        flex-direction: row;
      }

      .sf-button {
        width: 100%;
        margin-bottom: 0;
        font-size: 12px;
        border: 1px solid $gray-500;
        padding: 11px;
        @include breakpoint-medium {
          font-size: 20px;
          padding: 23px;
        }
      }
    }
  }
}
