.page-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray-500;
  font-style: $font-style-normal;
  font-weight: $font-weight-extra-bold;
  text-align: center;
  min-width: 322px;
  max-width: min(900px, 90%);
  margin: 0 auto;

  &__title {
    font-size: $font-size-h5;
    line-height: 130%;
    margin: 0;
    max-width: 1070px;
    @include breakpoint-medium {
      font-size: $font-size-h2;
      line-height: 140%;
    }
  }

  &__subtitle {
    font-size: $font-size-body-large-mobile;
    line-height: $line-height-body;
    color: $gray-300;
    margin-top: 8px;
    max-width: 900px;
    @include breakpoint-medium {
      font-size: $font-size-body-large;
      margin-top: 24px;
    }
  }

  &__description {
    font-size: $font-size-body-medium-mobile;
    font-weight: $font-weight-medium;
    line-height: $line-height-body;
    text-align: left;
    width: 100%;
    max-width: 900px;
    margin: 32px 0 0 0;
    @include breakpoint-medium {
      font-size: $font-size-body-medium;
      line-height: $line-height-body-large;
      margin-top: 52px;
    }
  }
}
