.sf-table-section {
  display: flex;
  flex-direction: column;
}

.sf-table-intro {
  margin-bottom: 40px;
  max-width: 900px;
  align-self: center;
  width: 100%;

  h2 {
    margin-bottom: 20px;
  }

  p {
    color: $gray-300;
  }
}

.sf-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-medium {
    flex-direction: row;
  }
}

.sf-table-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $gray-200;
  padding: 24px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color:$white;
  @include transition(all, 0.5s);
  transform: scale3d(1, 1, 1);

  &:not(:last-child) {
    border-bottom: none;
  }

  .background-circle {
    display: none;
    @include decorative-background-circle($gray-500, 25%, 130%, 100%, -100% -60% auto auto, -10);
  }

  &:hover,
  &:focus-visible {
    transform: scale3d(1.03, 1.03, 1);
    z-index: 10;
    border-color: black;

    .sf-table-title,
    .sf-table-cell-title {
      color: $gray-100;
    }

    .sf-table-cell-description,
    .sf-table-link a {
      color: $gray-200;
    }

    .background-circle {
      display: block;
      width: 150em;
      height: 70em;
      transform: translate3d(-5%, -10%, 0);
    }
  }

  @include breakpoint-medium {
    padding: 40px;
    margin: 0 -1px 0 0;
    border: 1px solid $gray-200;

    &:not(:last-child) {
      border: 1px solid $gray-200;
    }

    .background-circle {
      @include decorative-background-circle($gray-500, 25%, 130%, 100%, -100% -60% auto auto, -10);
    }

    &:hover {
      transform: scale3d(1.03, 1.03, 1);
      z-index: 10;
      border-color: black;

      .sf-table-title,
      .sf-table-cell-title {
        color: $gray-100;
      }

      .sf-table-cell-description,
      .sf-table-link a {
        color: $gray-200;
      }

      .background-circle {
        width: 150em;
        height: 70em;
        transform: translate3d(-5%, -10%, 0);
      }
    }

    &:focus-visible {
      transform: scale3d(1.02, 1.02, 1);
      z-index: 10;
      border-color: black;

      .sf-table-title,
      .sf-table-cell-title {
        color: $gray-100;
      }

      .sf-table-cell-description,
      .sf-table-link a {
        color: $gray-200;
      }

      .background-circle {
        display: block;
        width: 150em;
        height: 70em;
        transform: translate3d(-5%, -10%, 0);
      }
    }

    // prettier-ignore
    &:nth-child(3n+6) {
      border-top: none;
    }

    &:nth-child(4n) {
      border-top: none;
    }

    // prettier-ignore
    &:nth-child(n+4) {
      border-top: none;
    }
  }
}

.sf-table-cell-title {
  font-weight: 700;
  font-size: 14px;
  color: $gray-500;
  @include transition(color);

  @include breakpoint-medium {
    font-size: 22px;
  }
}

.sf-table-title {
  font-weight: 700;
  font-size: 18px;
  color: $gray-500;
  margin: 0;
  @include transition(color);

  @include breakpoint-medium {
    font-size: 22px;
  }
}

.sf-table-cell-description {
  border-bottom: none;
  font-weight: 500;
  font-size: 14px;
  color: $gray-300;
  @include transition(color);

  p {
    margin: 24px 0 0;
  }
  @include breakpoint-medium {
    p {
      margin: 32px 0 0;
      min-height: 80px;
    }
  }
}

.sf-table-link {
  margin-top: 24px;

  a {
    color: $gray-300;
    text-decoration: underline;
    font-weight: 300;
    font-size: 11px;
    @include transition(color);

    &:hover {
      text-decoration: none;
    }
  }
  @include breakpoint-medium {
    margin-top: 32px;
  }
}
