.sf-single-testimonial {
  max-width: 450px;
  @include breakpoint-medium {
    max-width: 900px;
  }
  margin: 0 auto;

  &__wrapper {
    height: 200px;
    padding: 24px;
    @include breakpoint-medium {
      height: 100%;
      flex: 1;
      padding: 40px;
      .sf-person__content p {
        @include truncate-lines(11);
        @include font-settings(20px, 28px, 400);
      }
    }
  }

  .sf-person {
    display: flex;
    flex-direction: column;

    @include breakpoint-medium {
      flex-direction: row;
      flex-wrap: wrap;
      height: 400px;
    }

    &__title {
      @include breakpoint-medium {
        font-size: 22px;
        line-height: 110%;
        margin-top: 0;
        margin-bottom: 10px;
      }
      @include truncate-lines(1);
    }

    &__position {
      margin-bottom: 0;
      @include breakpoint-medium {
        font-size: 14px;
        line-height: 150%;
      }
      @include truncate-lines(1);
    }
  }

  .sf-testimonial-header {
    @include breakpoint-medium {
      width: 280px;
      padding: 40px;
      flex-direction: column;
      border: 1px solid $gray-border;
      .sf-person__photo {
        @include breakpoint-medium {
          width: 200px;
          height: 200px;
        }
        img {
          @include breakpoint-medium {
            width: 200px;
            height: 200px;
          }
        }
      }

      &__bio {
        @include breakpoint-medium {
          width: 100%;
          padding: 0;
          margin-top: 40px;
        }
      }
    }
  }
}

.sf-dual-testimonials-wrapper {
  margin: 0 auto;
  @include breakpoint-medium {
    max-width: 900px;
  }
  .sf-person-wrapper {
    @include breakpoint-medium {
      height: 240px;
    }
  }
  .sf-testimonial-header {
    .sf-person__title {
      @include breakpoint-medium {
        font-size: 22px;
      }
    }
    &__bio {
      @include breakpoint-medium {
        width: calc(100% - 160px);
      }
    }
  }
}

.sf-testimonials {
  margin: auto;
  max-width: 450px;
  @include breakpoint-medium {
    max-width: 900px;
  }
  @include breakpoint-extra-large {
    max-width: 1200px;
  }

  .sf-person {
    @include breakpoint-medium {
      max-width: 450px;
    }
  }
  .sf-person-wrapper {
    @include breakpoint-medium {
      height: 240px;
    }
  }
  .sf-person__title {
    font-size: 14px;
    @include breakpoint-medium {
      line-height: 150%;
    }
  }
}

.sf-testimonial-header {
  display: flex;
  flex-direction: row;

  .sf-person__photo {
    width: 102px;
    height: 102px;
    @include breakpoint-medium {
      width: 160px;
      height: 160px;
    }
    img {
      width: 102px;
      height: 102px;
      object-fit: cover;
      @include breakpoint-medium {
        width: 160px;
        height: 160px;
      }
    }
  }
  &__bio {
    display: block;
    width: calc(100% - 102px);
    padding: 12px 12px 0 24px;
    @include breakpoint-medium {
      width: calc(100% - 160px);
      padding: 40px 40px 0;
    }
    a {
      margin-top: 8px;
      font-size: 11px;
      font-weight: 300;
      color: $gray-500;
      text-decoration: none;
      @include breakpoint-medium {
        @include truncate-lines(1);
        text-decoration: underline;
      }
    }
  }
}

.sf-person__content {
  p {
    @include truncate-lines(7);
    @include breakpoint-medium {
      @include truncate-lines(8);
      @include font-settings(14px, 150%, 400);
      color: $gray-500;
    }
  }
}
