.sf-single-testimonial {
  max-width: 450px;
  @include breakpoint-medium {
    max-width: 900px;
  }
  margin: 0 auto;

  .sf-person {
    display: flex;
    flex-direction: column;

    @include breakpoint-medium {
      flex-direction: row;
      flex-wrap: wrap;
      height: 400px;
    }

    &__title {
      @include breakpoint-medium {
        font-size: 22px;
        line-height: 110%;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    &__photo {
      @include breakpoint-medium {
        width: 200px;
        height: 200px;
        margin: 40px;
      }

      & img {
        @include breakpoint-medium {
          width: 200px;
          height: 200px;
        }
      }
    }

    .sf-testimonial-header {
      @include breakpoint-medium {
        flex-direction: column;
        border: 1px solid $gray-border;
      }

      &__bio {
        @include breakpoint-medium {
          height: 118px;
          padding: 0;
        }
      }
    }
  }
}

.sf-single-testimonial__wrapper {
  max-height: 400px;
  padding: 24px;
  @include breakpoint-medium {
    flex: 1;
    padding: 40px;
  }

  .sf-person__content {
    min-height: auto;
    @include breakpoint-medium {
    }
  }

  .sf-person__content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include breakpoint-medium {
      -webkit-line-clamp: 11;
      @include font-settings(20px, 28px, 400);
      color: $gray-500;
    }
  }
}
