<section class="sf-section" data-vacancies-list-widget>
  <div class="sf-vacancies">
    {% if data.widget._vacancies and data.widget._vacancies.length %} {% for
    vacancy in data.widget._vacancies %}
    <div class="vacancy-card">
      <div class="primary-info">
        <h3 class="vacancy-title">
          <a
            href="{{ vacancy.link }}"
            target="_blank"
            rel="noopener noreferrer"
          >{{ vacancy.title }}</a>
        </h3>
        <p class="vacancy-description">{{ vacancy.description }}</p>
      </div>

      <a
        class="vacancy-link"
        href="{{ vacancy.link }}"
        target="_blank"
        rel="noopener noreferrer"
        >read more</a
      >
    </div>
    {% endfor %}
    <div class="sf-vacancies_footer">
      <h2>{{ data.widget.listTitle }}</h2>
      <p>{{ data.widget.listSubtitle }}</p>
    </div>
    {% else %}
    <div class="sf-vacancies_footer">
      <h2>{{ data.widget.emptyTitle }}</h2>
      <p>{{ data.widget.emptySubtitle }}</p>
    </div>
    {% endif %}
  </div>
</section>
