<section class="sf-section" data-vacancies-list-widget>
  <div class="sf-vacancies-list">
    {% if data.widget._vacancies and data.widget._vacancies.length %} {% for
    vacancy in data.widget._vacancies %}
    <div class="sf-vacancy-card">
      <h3 class="sf-vacancy-title">{{ vacancy.title }}</h3>
      <p class="sf-vacancy-description">{{ vacancy.description }}</p>
      <a
        class="sf-vacancy-link"
        href="{{ vacancy.link }}"
        target="_blank"
        rel="noopener noreferrer"
        >read more</a
      >
    </div>
    {% endfor %}
    <div class="sf-vacancies-list-footer">
      <h2>{{ data.widget.listTitle }}</h2>
      <p>{{ data.widget.listSubtitle }}</p>
    </div>
    {% else %}
    <div class="sf-vacancies-empty-state">
      <h2>{{ data.widget.emptyTitle }}</h2>
      <p>{{ data.widget.emptySubtitle }}</p>
    </div>
    {% endif %}
  </div>
</section>
