{# modules/articles-page/views/index.html #} {% extends "layout.html" %} {%
import '@apostrophecms/pager:macros.html' as pager with context %} {% set tags =
data.piecesFilters.tags %} {% block main %}
<div class="cs_container">
  <div class="cs_content">
    <div class="page-main_content">{% area data.page, 'main' %}</div>
    {% if data.query.tags.length >= 1 %}
    <div class="cs_filter-info">
      <p class="items-count">
        {{ data.totalPieces }} Ite{% if data.totalPieces == 1 %}m{% else %}ms{%
        endif %} found
      </p>

      <div class="clear-all">
        <a
          class="clear-all-link"
          href="{{ data.url | build({ tags: null }) }}"
          aria-label="Clear all tags"
        >
          <span class="clear-all-content">
            <span class="clear-text">Clear all</span>
            <span class="remove-sign">&times;</span>
          </span>
        </a>
      </div>
      {% if data.query.tags and data.query.tags.length %}
      <div class="selected-tags">
        <ul class="selected-tags-list">
          {% for tag in tags %} {% if tag.value in data.query.tags %}
          <li class="selected-tag">
            {{ tag.label }}
            <a
              class="remove-tag"
              href="{{ data.url | build({}, { tags: { $pull: tag.value } }) }}"
              aria-label="Remove tag {{ tag.label }}"
            >
              &times;
            </a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endif %}
    <form class="cs_search-form" action="" method="GET">
      <input
        class="cs_search-input"
        type="text"
        name="search"
        placeholder="Search here..."
        value="{{ data.query.search | safe }}"
      />
      <button type="submit" class="cs_search-button">Search</button>
      {% if data.query.search %}
      <button
        class="cs_clear-search-button"
        type="button"
        onclick="window.location.href='{{ data.url | build({search: null}) }}'"
      >
        Clear Search
      </button>
      {% endif %}
    </form>

    <div class="cs_list">
      <div class="tags-filter">
        <p class="tags-title">Tags:</p>
        <ul class="tags-list">
          {% for tag in tags %} {% if data.query.tags and tag.value in
          data.query.tags %}
          <li class="tag-item active">
            <a
              class="tag-link"
              href="{{ data.url | build({}, { tags: { $pull: tag.value } }) }}"
            >
              {{ tag.label }}
            </a>
          </li>
          {% else %}
          <li class="tag-item">
            <a
              class="tag-link"
              href="{{ data.url | build({}, { tags: { $addToSet: tag.value } }) }}"
            >
              {{ tag.label }}
            </a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>

      <div class="cs_grid">
        {% for article in data.pieces %} {# CARD START: {{ article.title }} #}
        <a href="{{ article._url }}" class="cs_card">
          {% set picture = apos.image.first(article.picture) %} {% if picture is
          defined %}

          <img
            class="image"
            loading="lazy"
            src="{{ apos.attachment.url(picture, { size: data.options.size or 'full' }) }}"
            alt="{{ picture._alt or '' }}"
            width="{{ apos.attachment.getWidth(picture) }}"
            height="{{ apos.attachment.getHeight(picture) }}"
          />

          {% else %}

          <div class="placeholder-image-container">
            <img
              class="placeholder-image"
              loading="lazy"
              src="/images/logo.svg"
              alt="Placeholder banner for {{ article.title }}"
              width="160"
              height="50"
            />
          </div>

          {% endif %}
          <div class="cs_details">
            <h3 class="cname">{{ article.title }}</h3>
            <div class="type">{{ article.caseStudyType }}</div>
            <div class="industry">{{ article.industry }}</div>

            {% if article.portfolioTitle %}

            <h4 class="portfolio-title">{{ article.portfolioTitle }}</h4>

            {% endif %} {% if article.stack %}

            <div class="stack">{{ article.stack }}</div>

            {% endif %}
          </div>
        </a>
        {# CARD END: {{ article.title }} #} {% endfor %}
      </div>
    </div>

    <div class="pagination-container">
      {{ pager.render({ page: data.currentPage, total: data.totalPages, class:
      'cs-pager' }, data.url) }}
    </div>
  </div>
</div>
{% endblock main %}
