{% extends "layout.html" %} {% block main %}

<div class="cs_full-details">
  <article class="cs_full-details-card">
    {% set picture = apos.image.first(data.piece.picture) %} {% if picture is
    defined %}

    <img
      class="image"
      loading="lazy"
      src="{{ apos.attachment.url(picture, { size: 'full' }) }}"
      alt="{{ picture._alt or '' }}"
      width="{{ apos.attachment.getWidth(picture) }}"
      height="{{ apos.attachment.getHeight(picture) }}"
    />

    {% else %}

    <div class="placeholder-image-container">
      <img
        class="placeholder-image"
        loading="lazy"
        src="/images/logo.svg"
        alt="Placeholder banner"
        width="160"
        height="50"
      />
    </div>

    {% endif %}
    <div class="cs_info">
      <div class="cs_info-primary">
        <div class="truncate-wrapper">
          <h1 class="cname">{{ data.piece.title }}</h1>
          {% if data.piece.clientWebsite %}
          <a
            href="{{ data.piece.clientWebsite }}"
            target="_blank"
            class="client-website-link"
            >{{ data.piece.clientWebsite }}</a
          >
          {% endif %} {% if data.piece.industry %}
          <div class="industry">{{ data.piece.industry }}</div>
          {% endif %} {% if data.piece.portfolioTitle %}
          <h2 class="portfolio-title">{{ data.piece.portfolioTitle }}</h2>
          {% endif %} {% if data.piece.descriptor %}
          <p class="descriptor">{{ data.piece.descriptor }}</p>
          {% endif %} {% if data.piece.caseStudyType %}
          <div class="type">{{ data.piece.caseStudyType }}</div>
          {% endif %}
        </div>

        <div class="links-area">
          <a href="#" class="full-story_btn">Read The Full Story</a>

          {% if data.piece.prodLink %}
          <a href="{{ data.piece.prodLink }}" target="_blank" class="prod-link"
            >{{ data.piece.prodLink }}</a
          >
          {% endif %}
        </div>
      </div>

      <div class="cs_info-secondary">
        {% if data.piece.objective %}
        <div>
          <h3>Objective</h3>
          <p>{{ data.piece.objective }}</p>
        </div>
        {% endif %} {% if data.piece.challenge %}
        <div>
          <h3>Challenge</h3>
          <p>{{ data.piece.challenge }}</p>
        </div>
        {% endif %} {% if data.piece.solution %}
        <div>
          <h3>Solution</h3>
          <p>{{ data.piece.solution }}</p>
        </div>
        {% endif %} {% if data.piece.results %}
        <div>
          <h3>Results</h3>
          <p>{{ data.piece.results }}</p>
        </div>
        {% endif %} {% if data.piece.stack %}
        <div>
          <h3>Tech stack</h3>
          <p>{{ data.piece.stack }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </article>
</div>

{% endblock main %}
