{% import 'fragments/utilities.html' as utilities %} {% fragment header() %}
<header class="sf-container">
  <div class="sf-header">
    <div class="sf-header__content">
      {% render utilities.siteLogo() %}
      <button
        class="sf-menu"
        id="nav-icon"
        aria-label="Toggle menu"
        aria-expanded="false"
        aria-controls="main-navigation"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <nav class="sf-nav" data-menu>
    <ol class="sf-nav__list">
      {% for item in data.global.primaryNav %}
      <li>{% render utilities.navLink(item.menuItem) %}</li>
      {% endfor %}
    </ol>
  </nav>
</header>
{% endfragment %} {% fragment footer() %}
<footer class="sf-container">
  <p class="sf-copy">&#169; {{ data.currentYear or '2025' }} S&F</p>
</footer>
{% endfragment %}
