{% import 'fragments/utilities.html' as utilities %} {% fragment header() %}
<header class="sf-container">
  <div class="sf-header">
    {% render utilities.siteLogo() %}
    <div class="sf-menu" data-menu-button>
      <div id="nav-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <nav class="sf-nav" data-menu>
    <ol class="sf-nav__list">
      {% for item in data.global.primaryNav %}
      <li>{% render utilities.navLink(item.menuItem) %}</li>
      {% endfor %}
    </ol>
  </nav>
</header>
{% endfragment %} {% fragment footer() %}
<footer class="sf-container">
  <p class="sf-copy">&#169; {{ data.currentYear or '2025' }} S&F</p>
</footer>
{% endfragment %} {% fragment breadcrumbs() %}
<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    {% if data.page._url == data.home._url %}
    <li class="breadcrumb-home">
      <span>S&amp;F Home</span>
    </li>
    {% else %} {% for page in data.page._ancestors %}
    <li class="breadcrumb-item">
      <a href="{{ page._url }}" class="breadcrumb-link">
        {% if page._url == data.home._url %} Home {% else %} {{ page.title }} {%
        endif %}
      </a>
    </li>
    {% endfor %} {% if data.piece %}
    <li class="breadcrumb-item">
      <a href="{{ data.page._url }}" class="breadcrumb-link">
        {{ data.page.title }}
      </a>
    </li>
    <li class="breadcrumb-item breadcrumb-item-current">
      <span>{{ data.piece.title }}</span>
    </li>
    {% else %}
    <li class="breadcrumb-item breadcrumb-item-current">
      <span>{{ data.page.title }}</span>
    </li>
    {% endif %} {% endif %}
  </ol>
</nav>
{% endfragment %}
